extends Memain

block menu
	+createMenu(0)

block content
	.main-block 
			.content 
				.text0
					img(src="https://miridei.com/files/img/c/idei-krasoty/dieta_i_pitanie/0_sweets_1.jpeg")
				.text1
					h1. 
						Топ 5 десертов недели
				.tt1
					h2. 
						Меренговый рулет 
				.tt2 
					img(src="https://e1.edimdoma.ru/data/posts/0002/3371/23371-ed4_wide.jpg?1631187998")
				.tt3
					p. 
							Это восхитительно нежный десерт, который покорит вас с первого кусочка. 
							Основа этого десерта-меренга, но это не та хрустящая белоснежная сласть, 
							к который мы привыкли. Меренга для рулета внутри тягучая и пластичная, 
							воздушное облако из крема чиз, прослоенное ягодным конфи, все это вместе 
							не оставит вас равнодушным.
				.tt4
					h2. 
						Пирожное картошка
				.tt5 
					a(href='index3.html')
						img(src="https://recipes.av.ru//media/recipes/100071_picture_wGrkKtj.jpg")
				.tt6
					p. 
						Классическое пирожное с ярким вкусом ароматного какао из свежайшего бисквита и сгущенки. 
						Повод насладиться моментом, пока у Вас есть несколько мгновений с этим восхитительным 
						традиционным пирожным.
				.tt7 		 			
					h2. 
						Муссовый торт "Три шоколада"
				.tt8
					img(src="https://prostorecepty.com/uploads/posts/2021-12/1639172157_screenshot_53.jpg")
				.tt9 
					p. 
						Нежное сочетание шоколадного бисквита и трёх видов бельгийского шоколада в муссе 
						создают изысканную вкусовую гармонию. Торт три шоколада — кондитерский шедевр, который станет украшением вашего 
						праздника или отличным поводом собраться с друзьями за чашечкой чая. Такое лакомство 
						может стать вкуснейшим десертом, на вашем столе. 
				.tt10  		 			
					h2.
						Профитроли
				.tt11
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNMWMQHMWL8TlIa7LwevJVpWVzMjQTkQ87VQ&usqp=CAU")
				.tt12 
					p. 
						Знаменитое французское кулинарное изделие под названием профитроли очень любят и ценят во всем мире. 
						Это такие миниатюрные булочки, размер которых составляет не более четырех сантиметров. Для их 
						изготовления используют заварное тесто.
							
				.tt13  		 			
					h2. 
						Пирог Баноффи
				.tt14
					img(src="https://novate.ru/files/u31123/international-desserts-8.jpg")
				.tt15 
					p. 
						Возможно, это один из самых потрясающих десертов Англии. Его готовят из бананов, сливок и ириски, 
						сваренной из сгущённого молока. Всё это выкладывается на корж из покрошенного печенья и сливочного масла. 
							
						
