extends Memain

block menu
    +createMenu(2)

block content
    .main-block 
        .content3  
            .text5
                h1. 
                    Рецепт
            .text5-5 
                h2. 
                    Пироженое картошка
            .text6     
                img(src="https://recipes.av.ru//media/recipes/100071_picture_wGrkKtj.jpg")

            .text6-5  
                ul Ингридиенты:
                    li Печенье 300г
                    li Сгущенное молоко 190г
                    li Сливочное масло 100г
                    li Какао-порошок 2с.л.
            .text7
                h2. 
                    Способ приготовления:
            .t1
                h3. 
                    Шаг 1
                p. 
                    Как сделать классическое пирожное Картошка? Подготовьте продукты. Печенье обычно берется самое простое сахарное 
                    типа юбилейного, к чаю. Но очень многие делают с тем, что есть под рукой: овсяное, галетное, бисквитное. 
                    Я всегда готовлю только с традиционным, поэтому какой получится вкус с другим, не знаю. Сгущенку выбирайте 
                    настоящую, без заменителей молочного жира. То же самое касается и масла. Выньте его из холодильника заранее, 
                    оно должно стать мягким.
            .t2
                h3. 
                    Шаг 2
                p.
                    Печенье измельчите любым удобным для вас способом. У меня есть удобный большой комбайн, 
                    в него помещается сразу большое количество продуктов, я измельчаю в нем. Кто-то предпочитает 
                    мясорубку, так, кстати, делали печенье в моем детстве. А можно обойтись простой скалкой. 
                    Сложите печенье в плотный пакет и как следует побейте его скалкой. В этом случае крошка будет 
                    достаточно крупной, что, впрочем, никак не повлияет на вкус пирожных. 
                        
            .t3
                h3. 
                    Шаг 3
                p.
                    Сложите в миску мягкое сливочное масло и сгущенку. При помощи вилки размешайте их до состояния крема. 
                    Можно, конечно, взять и миксер, но в этом рецепте это не принципиально - состояние крема может быть 
                    любым, это никак не повлияет на конечный результат. А миксер вам еще мыть. Вместо вилки можете взять венчик. 
                         
            .t4 
                h3. 
                    Шаг 4
                p.
                    Всыпьте к масляному крему крошку из печенья. Перемешайте ингредиенты той же вилкой до полной однородности.
            .t5
                h3. 
                    Шаг 5
                p.
                    Тесто получится достаточно густым, его можно будет лепить. 
            .t6 
                h3. 
                    Шаг 6
                p.
                    Насыпьте на тарелку какао-порошок. Слепите из теста пирожное продолговатой формы. Обваляйте его в какао 
                    со всех сторон и положите на пергамент. Вообще форма у картошки может быть любой - и овальной, и круглой. 
                    Можно сделать их максимально похожими на картофель - слепить неровные клубни.
            .t7 
                h3. 
                    Шаг 7
                p.
                    Готовую шоколадную картошку уберите в холодильник минимум на час. Масло должно хорошо охладиться и застыть, 
                    что сделает пирожные более твердыми. Их будет удобно и вкуснее есть. Перед подачей картошку можно 
                    украсить - кремом, шоколадом, посыпками. Я сделала из крема белые точки, похожие на картофельные росточки. 
                

